<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
<!--    TODO : thymeleaf에서 DTO 값을 바로 사용할 수 있는 이유-->
<!--    TODO : 생성일자, 수정일자 설정-->
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록 일시</th>
                    <th>수정 일시</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.num}">번호</td>
                <td th:text="${board.category}">카테고리</td>
                <td><a href="detailBoard.html" th:href="@{/boards/{num}(num=${board.num})}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.writer}">작성자</td>
                <td th:text="${board.hit}"></td>
                <td th:value="${board.createDate} ? ${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')} : ${board.createDate}"></td>
                <td th:text="${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>