<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detailBoard</title>
</head>
<body>
<div>
    <table>
            <tr>
                <th>카테고리</th>
                <td th:text="${detail.category}">카테고리</td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${detail.title}">제목</td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${detail.writer}">작성자</td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${detail.text}">내용</td>
            </tr>
            <tr>
                <th>작성일자</th>
                <td th:text="${detail.createDate}">작성 일자</td>
            </tr>
            <tr>
                <th>수정일자</th>
                <td th:text="${detail.modDate}">수정 일자</td>
            </tr>
    </table>
    <button type="button"
            onclick="location.href='updateBoard.html'"
            th:onclick="|location.href='@{/boards/{num}/update(num=${detail.num})}'|">수정</button>

    <button type="button"
            onclick="location.href='deleteBoard.html'"
            th:onclick="|location.href='@{/boards/{num}/delete(num=${detail.num})}'|">삭제</button>

    <button type="button"
            onclick="location.href='boards.html'"
            th:onclick="|location.href='@{/boards}'|">

    </button>

</div>
</body>
</html>