<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detailBoard</title>
</head>
<body>
<div>
    <h2 th:if="${param.status}" th:text="저장 완료!"></h2>

<div>
    <table>
        <thead>
            <tr>
                <th>카테고리</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성일자</th>
                <th>수정일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="boards : ${byId}">
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>